:root {
    --bg-color: green;
    --font-family: Gotham Rounded, sans-serif;
    --primary-color: green;
    font-family: var(--font-family);
}

body {
    margin: 1vw;
    font-size: large;
}

.nav {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    padding: 1vw;
}

.logo img {
    height: 7vw;
}

.lan-menu {
    height: 6vw;
    background-color: lightgrey;
    padding: 0.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lan {
    display: flex;
}

.lan-menu img {
    width: 2vw;
    height: auto;
}

.title {
    font-weight: bold;
    font-size: 1.1em;
    line-height: 5;
    color: #FFFFFF;
    padding : 1vw;
    background-color: var(--bg-color);
    text-transform: uppercase;
    letter-spacing: 1.67px;
    text-align: center;
}

main {
    max-width: 1000px;
    width: 100%;
    margin: 1rem auto;
    padding: 1vw;
    border: 0.1vw solid #73AD21;
}


footer { 
    width: 100%;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 3;
    color: #FFFFFF;
    background-color: var(--bg-color);
    letter-spacing: 1.67px;
    text-align: center;
}